:root {

  /* Shades */
  --color-white: #fff;

  /* Colors */
  --color-blue-500: #2196f3;

  /* Typefaces */
  --font-fam-sans: Futura;

  /* Sizes */
  --width-app-max: 90rem;
  --height-header-default: 75px;
}
