@import 'vars';
@import 'mixins';
@import 'form';

.radioGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > * {
    flex-basis: 2rem;
  }
}

.save {
  composes: button-save;
}
