@import 'vars';
@import 'mixins';

.root {
  background: var(--color-blue-500);
  padding: 0 1rem;
}

.inner {
  composes: app-max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--color-white);
}
